:root {
    font-family: Sans;
    font-weight: lighter;
}
h1 {
    text-align: center;
}
.intro, .footer {
    margin-block: 1em;
    padding: 1em;
    max-width: 80ch;
    margin-inline: auto;
}
.footer {
    text-align: center;
}
.example {
    background-color: #f8f8f8;
    border-radius: 1em;
    padding: 1em;
    max-width: 80ch;
    margin: auto;
}
.example-title {
    margin: 0.2em;
}
.file-list {
    margin-top: 0.2em;
}
li > span.file-size {
    min-width: 4em;
    display: inline-block;
    text-align: right;
}
